body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(51, 51, 51);
    margin: 0;
}

#text{
    width: inherit;
}

a{
    text-decoration: none;
    color: black;
}

#main-container{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-container h2{
    font-size: 3.2em;
    user-select: none;
}


#main-container form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#search-input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.3em;
}

#search-bar-group{
    display: flex;
    width: 100%;
}

#search-buttons-group{
    margin-top: 1.8em;
    display: flex;
    width: 45%;
    align-self: center;
    justify-content: space-between;
}

#search-buttons-group button{
    display: flex;
    height: 42px;
    width: 45%;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    justify-content: space-around;
    border: 1px solid lightgrey;
}

#search-buttons-group button:hover{
    -webkit-box-shadow: 6px 3px 10px 0px rgba(0,0,0,0.13); 
    box-shadow: 6px 3px 10px 0px rgba(0,0,0,0.13);
    border: 1px solid grey;
}

#search-buttons-group button h3{
    margin: auto;
    font-weight: 100;
    font-size: 1.2em;
}

#search-input-group #search-bar-group input{
    height: 30px;
    padding: 8px;
    padding-left: 55px;
    border-radius: 25px;
    font-size: 16px;
    width: 100%;
    border: 1px solid grey;
}

#search-input-group #search-bar-group input:focus{
    -webkit-box-shadow: 6px 3px 10px 0px rgba(0,0,0,0.13); 
    box-shadow: 6px 3px 10px 0px rgba(0,0,0,0.13);
}

#search-input-group #search-bar-group img{
    height: 22px;
    position: absolute;
    margin-top: 14px;
    margin-left: 14px;
}

#search-filters-group{
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-self: center;
    margin-top:1em;
}

#search-filters-group h5{
    margin:0;
    margin-bottom: 0.5em;
    font-weight: 100;
    user-select: none;
}

#party-filter{
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid grey;
    margin-right: 1em;
}

#date-filter-group{
    height: fit-content;
    align-self: center;
}

#date-filter input{
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid grey;
}

#date-filter{
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

#date-filter h5{
    margin-top:auto;
    margin-bottom:auto;
    margin-right: 5px;
    margin-left:5px;
}




/************ SEARCH RESULTS ************/

#search-results-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#results-top-area{
    width: 100%;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.03);
}

#results-top-area #search-bar-group{
    flex-direction: row-reverse;
}

#results-top-area #search-bar-group input{
    padding-left: 22px;
    padding-right: 55px;
}

#results-top-area #search-input-group #search-bar-group img{
    height: 22px;
    position: absolute;
    margin-top: 14px;
    margin-right: 14px;
    margin-left: 0px;
    cursor: pointer;
}

/* #results-top-area #search-input-group{
    flex-direction: row;
}
*/
#results-top-area #search-filters-group{
    margin-top: 0.5em;
    width:99%;
    justify-content: space-between;
}

#results-top-area #search-filters-group select{
    padding-top: 4px;
    padding-bottom: 4px;
}

#results-top-area #search-filters-group #date-filter input{
    padding-top: 4px;
    padding-bottom: 4px;
}

#results-top-area form{
    width: 40%;
    height: 15vh;
    display: flex;
}

#results-top-area a{
    margin: auto;
    text-decoration: none;
    color: black;
    width: 8%;
    margin-left: 4%;
    margin-right: 0em;
    user-select: none;
}

#results-top-area h2{
    margin: auto;
    font-size: 1.5em;
    margin-right: 0;
    user-select: none;
}

#results-top-area #search-buttons-group{
    margin:auto;
    margin-left:1em;
    width: auto;
}

#results-top-area #search-buttons-group button{
    margin:auto;
    width: auto;
}

#results-top-area #search-input-group{
    margin:auto;
    margin-left: 0;
    width: 70%;
    margin-right: 1.5em;
}

#results-area{
    width: 88%;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
}

#results-area h5{
    margin: 0;
    font-weight: 100;
}

#results-area>h5{
    margin-top: 10px;
    margin-bottom: 10px;
}

#results-time {
    margin-bottom: 10px;
}

#search-results{
    display: flex;
    flex-direction: column;
}

.search-result-item{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-bottom: 1em;
}

.link-and-options{
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

}

.relevant-menu{
    margin-right: 5%;
}

.relevant-menu-hidden h4{
    padding: 0.5em;
    padding-right: 0.6em;
    margin: 0;
    font-weight: 300;
    font-size: 0.9em;
}

.relevant-menu img{
    height: 1.3em;
    width: 1.3em;
    cursor: pointer;
}

.relevant-menu-hidden{
    display: none;
    background-color: white;
    border: 1px solid rgb(51, 51, 51);
    position: absolute;
    margin-left: 0.65em;
    margin-top: 0.2em;
    border-radius: 0px 5px 5px 5px;
    cursor: pointer;
    user-select: none;
 }

.search-result-item a{
    width: 90%;
    margin:0;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.search-result-item h5,p{
    margin:0;

}

.search-result-item p{
    font-size: 0.9em;
}

.search-result-item h2{
    display: inline-block;
    margin-top:0;
    margin-bottom:8px

}

.search-result-item h5{
    text-overflow: clip;
    white-space: nowrap;

}

.search-result-item .result-title:hover{
    text-decoration:underline;
}

#next-page-selection{
    width: fit-content;
    display: flex;
    justify-content: space-around;
}

#next-page-selection h4{
    margin-right: 1em;
}

em{
    font-style: normal;
    font-weight: bold;
}